.Form-Elements{
    align-items: center;
}

.container {
    text-align: center;
    font-size: 30px;
    color: black
}

.intro-description {
    font-size: 20px;
    width: 70%;
    margin:0 auto;
    text-align: center;
}

.mainpage {
    background-image: url(../images/test.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Introduction{
    padding-top: 65px; 
}

.course{
    padding-top: 85px; 
}
.course-description {
    font-size: 23px;
    width: 25%;
    margin:0 auto;
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}