*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* Naviation Bar CSS */
.nav {
    width:100%;
    text-align: center;
    font-size: 23px;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.links{
    color: #535250;
    text-decoration: none;
}
.links:hover {
    /* border-bottom: 1px solid ; */
  color: rgba(172, 126, 66, 0.795);
}

/* index CSS */
body{ 
    background: #ededeb;
    color: #555555;
    background-size: cover
}


#card-list li div.card img {
    width:50%;
    height:50%;
}


.list li {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    overflow: none;
    border: 1px;
} */

.responsive {
    width: 100%;
    height: auto;
}
.center {

}
.card {
    max-width: 60%;
    height: 60%;
    text-align: left;
    margin-top: 20%;
}

/* .list li div{
    height: 50%;
    width: 50%;
    background: #ededeb;
    transition: 0.3s;
    position: center;
} */

/* .list li div.card img{
    width: 75%;
    height: 75%;
} */


/* about CSS */

.Form-Elements{
    align-items: center;
}

.container {
    text-align: center;
    font-size: 30px;
    color: black
}

.intro-description {
    font-size: 20px;
    width: 70%;
    margin:0 auto;
    text-align: center;
}
.backgroundImage{
    background-image: url(test.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Introduction{
    padding-top: 65px; 
}

.course{
    padding-top: 85px; 
}
.course-description {
    font-size: 23px;
    width: 25%;
    margin:0 auto;
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}



