/* #card-list li div.card img {
    width:50%;
    height:50%;
}

.list li {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    overflow: none;
    border: 1px;
}

.responsive {
    width: 100%;
    height: auto;
}

.card {
    max-width: 60%;
    height: 60%;
} */
.Card {
    max-width: 60%;
    height: 60%;
    text-align: left;
    margin-top: 20%;
}
